<div class="character_index">
<% @character.each do |character| %>
    <div class="card">
      <div class="imgContainer">
        <%= image_tag character.image.url(:medium) %>
        </div>
        <h2><%= link_to character.name,  character %> </h2>
      </div>
<% end %>
</div>

<%= link_to "Create New Character", new_character_path %>
