

<% @character.each do |character| %>
      <h2><%= link_to character.name,  character %> </h2>
      <p><%= character.description %></p>
<% end %>

<%= link_to "Create New Character", new_character_path %>
