/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

 .alerts{
   display: hidden;
 }

 .nav {
   width: 100%;
   height: 70px;
   background-color: purple;
   display: inline-block;
   h3{
     display: inline;
     color: lightgray;
     font-size: 2rems;
     margin: 10px 5px;
     padding: 10px;
   }
   img{
     margin: 5px;
     width: 60px;
     height: 60px;
     border: 2px solid white;
     border-radius: 20%;
     float: left;
   }
   .title a {
     margin: 10px 5px;
     padding: 4px;
     float: left;
     font-size: 30px;
     color: white;
   }
   .navmenu{
     a{
       color: lightgray;
       float: right;
       text-decoration: none;
       display: inline-block;
       magin: 4px;
       padding: 6px;
       position: relative;
     }
   }
 }



    .subRacemenu{
      display: inline-block;
      width: 33%;
      input{
          background-color: darkblue;
          width: 100px;
          height: 30px;
          font-size: 1.1rem;
          color: white;
          font-weight: bold;
          padding: 3px;
          border-radius: 10px;
      }

    }
    .dndForm{
      width: 100%;
      height: auto;
    }

    .characterName{
      position: absolute;
      text-align: left;
      width: 520px;
      height: 100px;
      border: 2px solid black;
      background-color: purple;
      border-radius: 10px;
      padding: 2px;
      textarea{
        font-size: 2rem;
        width: 300px;
        height: 50px;
        resize: none;
      }
    }

    .racemenu{
      display: inline-block;
      width: 200px;

      textarea{
        width: 100px;
        height: 30px;
        font-size: 1.1rem;
        background-color: purple;
        color: white;
        font-weight: bold;
        padding: 3px;
        border-radius: 10px;
      }
    }

    .characterHeader{
      color: black;
      display: inline-block;
      font-size: 1.0rem;
      width: 900px;
      height: 260px;
      position: absolute;
      left: 550px;
      display: absolute;
      margin: 2px;
      text-align: center;
      display: inline-block;
      background-color: lightgray;
      border: 2px solid black;
      border-radius: 10px;

      .headerItem{
        width: 290px;
        height: auto;
        display: inline-block;
        font-size: 1.0rem;
        color: darkblue;
        line-height: 0.8rem
      }
      .dropDownMenu{
        color: black;
        width: 60px;
        height: 60px;
        border: 1px solid black;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.8);
        h5:hover{
          color: white;
        }
      }
      .headerLable{
        height: 20px;
        color: black;
      }
      .characterButton{
        border: 1px solid blue;
        border-radius: 2px;
        width: 30px;
        height: 30px;
        margin: 2px;
        color: blue;
        background-color: darkgray;

      }
    }
    .subSkills{
      top:310px;
      height: 100px;
    }

    .characterAttributes{
      position: absolute;
      align: center;
      width: 110px;
      height: auto;
      left: 10px;
      top: 220px;
      background-color: lightgray;
      border: 3px solid darkgray;
      border-radius: 5px;
      display: inline-block;

      .characterStatsButton{
        text-align: center;
        margin: 5px;
        padding: 0 20%;
        width: auto;
      }

      .attributeContainter{
        width:90px;
        height: auto;
        border: 1px solid black;
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
      }
      input{
        width: 20px;
        height: 20px;
        display: inline;
        color: black;
        border-radius: 5px;
        font-size: 0.8rem;
        background-color: purple;
      }
      h2{
        margin: 4px;
        font-size: 2.6rem;
        color: purple;
      }

      h3{
        margin: 2px;
        font-size: 2.1rem;
        color: black;
      }

      h4{
        margin: 2px;
        font-size: 1.6rem;
        color: purple;
        }

        h5{
          font-size: 1rem;
          color: black;
        }
    }

    .characterName{
      border: 1px solid black;
      width: 33%;
      height: 60px;
      display: inline-block;
      position: absolute;
      margin: 2px;
      .nameFormItem{
        padding: 2px 5px;
        label{
            font-size: 2rem;
            color: purple;
          }
      }

    }
.column2{
  position: absolute;
  left: 130px
}
  .singleStat{
    width: 450px;
    height: 40px;
    display: inline;
    padding-bottom: 14px;

    h3{
      margin: 3px;
      font-size: 2rem;
      display: inline;
      color: black;
      padding: 5px;
    }
    .numbers{
      position: relative;
      top: 3px;
      font-size: 2.8rem;
      color: black;
      margin: 10 12 10 09;
      border: 2px solid black;
      padding: 4px;
      border-radius: 4px;

    }
  }
  .inspiration{
    position: absolute;
    top: 230px;
    left: 11%;
  }
  .proficiency{
    position: absolute;
    top: 290px;
    left: 11%;
  }

  .perception{
    position: absolute;
    top: 350px;
    left: 11%;
  }

.savingThrows{
  top: 680px;
  width: 195px;
  height: 200px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.alignment{
  top: 890px;
  width: 195px;
  height: 200px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  h5{
    line-height: 0.8rem;
  }
  input{

  }
}

.skills{
  position:absolute;
  top: 610px;
  left: 340px;
  width: 195px;
  height: 580px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.column3{
  position: absolute;
  left: 550px;
}

.chooseRace{
  top: 220px;
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 10px;
  width:200px;
  height: 450px;
  display: inline-block;
  text-align: center;

  input{
    background-color: white;
    border: 2px solid red;
    width: 80px;
    height: 30px;
    display: inline-block;
    font-size: 1rem;
    border-radius: 5px;
    color: black;
}

.racemenu{
  width: auto;
  height: auto;
  margin: 5px;
  }

  .subRaceMenu{
    width: auto;
    height: auto;
    display: inline-block;
    margin: 5px;
    input{
      background-color: white;
      border: 2px solid blue;
      border-radius: 0px;
      color: black;
    }
  }

}
.chooseClass{
  left: 340px;
  border-radius: 10px;
  width:200px;
  height: 370px;
  input{
    background-color: blue;
    border: 2px solid purple;
    color: white;
  }
}

.minorStat{
  width: auto;
  height: auto;
  margin: 10px 24px;
  text-align: left;
  display: inline-block;

  h3{
    font-size: 1.4rem;
    color: black;
  }

}

.hitpoints{
  width:200px;
  height: 90px;
  margin: 10px;
  text-align: center;
}

.attacks{
  top: 420px;
  width: 350px;
  height: 350px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;

  .attackandspells{
    width: 100%;
    height: 300px;
    overflow: auto;

  }
  .asLabel{
    font-size: 1.8rem;

  }
}

.equip{
  top: 778px;
  width: 350px;
  height: 412px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;

  .equipmentList{
    height: 360px;
  }
}

.column4{
  position: absolute;
  left: 910px;
}

.descriptions{
  top: 420px;
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 10px;
  width:400px;
  height: 375px;
}

.personalityContainer{
  width: 535px;
  height: auto;
  background-color: lightgray;
  border: 2px solid darkgray;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  textarea{
    text-align: left;
    width: 480px;
    height: 100px;
    resize: none;
    overflow: auto;
    border: 1px solid darkgray;
    background-color: white;
    padding: 5px;
  }
}

.itemlabel{
  width: 100%;
  height: 10px;
  z-index: 2;
}

.featuresAndTraits{
  top: 1010px;
  width: 535px;
  height: 180px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;

  textarea{
    margin: 5px;
    width: 500px;
    height: 130px;
    text-align: left;
    resize: none;
    overflow: auto;
  }
}

    .characterStats{
        border: 3px solid lightgray;
        font-size: 1.5rem;
        height: 350px;
        width: 350px;
        position: relative;
        display: inline-block;
        top: 10px;
        margin: 10px;
        padding: 10px;

        img{
          width: 40%;
          height: 40%;
          border-radius: 10px;
          border: 3px solid lightblue;
          display: block;
          margin: 10px;
          padding: 5px;
        }
        .descriptionFormItem{
          align-content: center;

          input{
            width: 300px;
            height: 250px;
          }
        }

        h2 {
          font-size: 1.6rem;
          color: darkblue;
        }

    .characterStatsButton{
        width: 100%;
        margin: 0 auto;
    }

      }
  .submitButton{
    position:absolute;
    left: 10px;
    top: 1080px;
        input{
          border-radius: 5px;
          border: 2px solid blue;
          color: white;
          width: 200px;
          height: 80px;
          text-align: center;
          background-color: purple;
        }
  }
